@{
    ViewData["Title"] = "Open Weather Info";
}

<h1>Please select country and city to check the weather today!</h1>
<hr />
<br />
<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">

        <div class="form-group">
            <label class="col-md-4 control-label">Country Name</label>
            <div class="col-md-6">
                <select class="form-control" id="ddlCountry"></select><br />
            </div>
        </div>
        <br />
        <div class="form-group">
            <label class="col-md-4 control-label">City Name</label>
            <div class="col-md-6">
                <select class="form-control" id="ddlCity"></select>
            </div>
        </div>
    </div>
    <div class="col-lg-3"></div>
</div>


@section Scripts {
    <script type="text/javascript">
    
        var ddlCountry = $('#ddlCountry');
        ddlCountry.append($("<option></option>").val('').html('Please Select Country'));
        $.ajax({
            url: 'https://localhost:44375/v1/Countries',
            type: 'GET',
            crossDomain: true,
            async: false,
            dataType: 'json',
            contentType: 'application/json',
            success: function (data) {
                $.each(data, function (i, country) {
                    ddlCountry.append($("<option></option>").val(country.code).html(country.name));
                });
            },
            error: function (err) {
                console.log(err);
            }
        });


        $("#ddlCountry").change(function () {
            var countryCode = $(this).val();

            var ddlCity = $('#ddlCity');
            ddlCity.empty();
            ddlCity.append($("<option></option>").val('').html('Please wait ...'));

            $.ajax({
                url: 'https://localhost:44375/v1/Cities?countryCode=' + countryCode,
                type: 'GET',
                dataType: 'json',
                crossDomain: true,
                async: false,
                contentType: 'application/json',
                success: function (data) {

                    ddlCity.empty();
                    ddlCity.append($("<option></option>").val('').html('Select City'));
                    $.each(data, function (i, city) {
                        ddlCity.append($("<option></option>").val(city.code).html(city.name));
                    });
                },
                error: function () {
                    console.log(err);
                }
            });
        });

        $("#ddlCity").change(function () {
            var city = $(this).val();

            var url = '@Url.Action("WeatherView", "Home", new { city = "__param__" })';
            url = url.replace('__param__', encodeURIComponent(city));
            debugger;
            window.location = url;
        });
    </script>
}
